# Cocos Creator
library/
temp/
local/
profiles/
build/
native/
jsb-default/
jsb-link/
jsb-adapter/
logs/
user/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS
.DS_Store
Thumbs.db

# Extensions
extensions/cocos-mcp-server/dist/
extensions/cocos-mcp-server/node_modules/
extensions/*.zip
